# Step 1 (create the db)
DROP DATABASE IF EXISTS `tournamentsdb`;
CREATE DATABASE tournamentsdb;

# Step 2 (select the db)
USE tournamentsdb;

# Step 3 (create the accounts table)
DROP TABLE IF EXISTS `accounts`;
CREATE TABLE accounts (
  id INT NOT NULL AUTO_INCREMENT,

  username VARCHAR(25) NOT NULL UNIQUE,
  hash CHAR(166) NOT NULL,

  PRIMARY KEY (id)
);

# Step 4 (create the players table)
DROP TABLE IF EXISTS `players`;
CREATE TABLE players (
  id INT NOT NULL AUTO_INCREMENT,

  first_name VARCHAR(25) NOT NULL,
  last_name VARCHAR(25) NOT NULL,
  email VARCHAR(25) NOT NULL UNIQUE,

  date_of_birth VARCHAR(25) NOT NULL,

  PRIMARY KEY (id)
);

# Step 5 (create the teams table)
DROP TABLE IF EXISTS `teams`;
CREATE TABLE teams (
  id INT NOT NULL AUTO_INCREMENT,

  name VARCHAR(25) NOT NULL UNIQUE,
  player_a_id INT NOT NULL,
  player_b_id INT NOT NULL,

  PRIMARY KEY (id),
  FOREIGN KEY (player_a_id) REFERENCES players(id) ON DELETE CASCADE ON UPDATE CASCADE,
  FOREIGN KEY (player_b_id) REFERENCES players(id) ON DELETE CASCADE ON UPDATE CASCADE
);

# Step 6 (create the tournaments table)
DROP TABLE IF EXISTS `tournaments`;
CREATE TABLE tournaments (
  id INT NOT NULL AUTO_INCREMENT,

  name VARCHAR(25) NOT NULL UNIQUE,

  PRIMARY KEY (id)
);

# Step 7 (create the tournament_team table)
DROP TABLE IF EXISTS `tournament_team`;
CREATE TABLE tournament_team (
  id INT NOT NULL AUTO_INCREMENT,

  tournament_id INT NOT NULL,
  team_id INT NOT NULL,

  PRIMARY KEY (id),
  FOREIGN KEY (tournament_id) REFERENCES tournaments(id) ON DELETE CASCADE ON UPDATE CASCADE,
  FOREIGN KEY (team_id) REFERENCES teams(id) ON DELETE CASCADE ON UPDATE CASCADE
);